@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'locomotive-scroll.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.testdiv{
  background-color: aqua;
  height: 500px;
  width: auto;
  margin-bottom: 25px;
}